.map-box {
   width: 100%;
   height: 650px;
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-bottom-left-radius: 3px;
   border-bottom-left-radius: 3px;
   -webkit-border-bottom-right-radius: 3px;
   -moz-border-bottom-right-radius: 3px;
   border-bottom-right-radius: 3px;
   position: relative;
   overflow: hidden
}

.map-box-inside {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(229, 227, 223);
}

.gm-style {
  font: 400 11px Roboto, Arial;
  text-decoration: none;
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
}

.google-map {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  cursor: url("http://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
  touch-action: none;
}
